* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: monospace;
  background-color: #123524;
  padding: 20px;
  min-height: 100vh;
}
.prank {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  color: #68995f;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.prank-content h1 {
  font-size: 2.4em;
  margin-bottom: 20px;
}
.prank-content h2 {
  font-size: 2em;
  margin-bottom: 20px;
}
.prank-content p {
  font-size: 1.5em;
  margin: 0;
}
.loader {
  border: 4px solid #333;
  border-top: 4px solid #39ff14;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
container {
  max-width: 900px;
  margin: 0 auto;
}
.header {
  text-align: center;
  background-color: #faf1f1;
  border-radius: 25px;
  padding: 25px;
  margin-bottom: 25px;
  box-shadow: 0 8px 9px 0 #32845c;
  border: 5px solid #32845c;
}
.header h1 {
  color: #56694d;
  font-size: 3em;
  margin-bottom: 20px;
}
.header p {
  color: #56694d;
  font-size: 2em;
  margin-bottom: 20px;
}

.statuses {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}
.status {
  background-color: #1f593d;
  color: #efbf04;
  padding: 12px 25px;
  border-radius: 20px;
  box-shadow: 0 8px 9px 0 #5c9177;
  border: 3px solid #32845c;
  margin-bottom: 25px;
}
.status-label {
  font-size: 1.2em;
}
.status-value {
  font-size: 1.8em;
}
.game-board {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.quote {
  background-color: #1f593d;
  padding: 12px 25px;
  border-radius: 20px;
  box-shadow: 0 8px 9px 0 #5c9177;
  border: 3px solid #32845c;
  margin-bottom: 25px;
}
.quote p {
  color: #efbf04;
  font-size: 2em;
  font-weight: 400px;
}

.options {
  display: flex;
  gap: 15px;
  transform-style: preserve-3d;
  transform: transform 0.6s;
  cursor: pointer;
}

.option img {
  background-color: rgb(250, 241, 241);
  box-shadow: 0 13px 15 px 0 #5c9177;
  border: 3px solid #4e7060;
  border-radius: 14px;
}
.option p {
  background: transparent;
  padding: 10px 15px;
  box-shadow: 0 8px 9px 0 #5c9177;
  border: 3px solid #1b4832;
  border-radius: 20px;
  margin-bottom: 25px;
  color: #1b4832;
  font-size: 1.1em;
  font-weight: 400px;
}
.option:hover {
  transform: scale(1.08);
}

.option.select:hover {
  transform: rotateY(180deg) scale(1.08);
}
.correct {
  background-color: #2ecc71;
  color: white;
  transform: scale(1.05);
  transition: all 0.3s ease;
  box-shadow: 0 0 20px #27ae60;
  border-radius: 20px;
}
.choice-button:hover {
  background-color: #176f3c;
  cursor: pointer;
  border: 2px solid #fff;
  box-shadow: 0 0 15px rgba(63, 97, 78, 0.8);
}
.wrong {
  animation: shake 0.5s;
  background-color: #ac382c;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(119, 45, 16, 0.8);
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

.controls {
  text-align: center;
}
.button {
  background-color: #32845c;
  border: 3px solid #47755f;
  box-shadow: 0 5px 9px 0 #5c9177;
  color: #efbf04;
  padding: 12px 40px;
  border-radius: 20px;
  font-size: 1.4em;
  cursor: pointer;
}
.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 9px 9px 0 #5c9177;
}
.button:active {
  transform: translateY(2px);
  box-shadow: 0 3px 9px 0 #5c9177;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.modal.show {
  display: flex;
}
.modal-content {
  text-align: center;
  color: #efbf04;
  background-color: #faf1f1;
  border-radius: 25px;
  padding: 40px;
  box-shadow: 0 8px 9px 0 #32845c;
  border: 5px solid #32845c;
  cursor: pointer;
  animation: bounce 0.5s;
}
@keyframes bounce {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
.modal-content h2 {
  font-size: 3em;
  margin-bottom: 20px;
}

.modal-content p {
  font-size: 1.8em;
  margin-bottom: 10px;
  font-weight: bold;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2em;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.6em;
  }
}
